* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}


/* -----------Heading-------------- */
header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}

.shoe_logo {
  height: 55px;
}

.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}


.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  justify-content: space-evenly;
}

.action_bar a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  align-items: center;
}

.cart-item-count {
  color: red;
  border-radius: 50%;
}

/* navbar */
.nav {
  display: block;
  background-color: #282c3f;
  width: 100%;
}

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  background-color: #282c3f;
  text-align: center;
  color: #ffffff;
}

.nav_bar a {
  font-size: 20px;
  letter-spacing: .4px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 0;
  color: #ffffff;
  border-bottom: 5px solid #282c3f;
}

.nav_bar a:hover {
  border-bottom: 5px solid #f54e77;
  color: gold;
}

.menu_icon {
  display: none;
}

.menu_icon {
  color: #ffffff;
  font-size: 25px;
  margin: 5px 10px 10px 20px;
  padding-bottom: 10px;
}



/* ----------Footer-------------- */
.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: center;
  padding: 15px;

}



/* ---------Main section--------- */

/* ------Home page----- */

.banner_container {
  margin: 30px 0;
  width: 100%;
  height: 400px;
  text-align: center;

}

.banner_container img {

  width: 90%;
  height: 100%;

}

/* -----------Products Feature--------- */
.main h1 {
  text-align: center;
}

.items-container {

  width: 90%;
  margin: 30px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}



.item-container {
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  width: 180px;
  margin: 5px;
  border: 1px solid lightgray;

}

.item-image {
  width: 100%;
  height: 50%;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  display: block;
}

.price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}


.btn-add-cart {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}




/* ----------Contact Us ---------- */
#contact {
  margin: 20px;
  text-align: center;

}


.contact-banner {
  margin: 30px 0;
  width: 100%;
  height: 300px;
  text-align: center;

}

.contact-banner img {
  width: 90%;
  height: 100%;

}

.contact-email,
.contact-message {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.contact-email input {
  margin-top: 10px;
  line-height: 20px;
  width: 400px;
  font-size: 20px;
  padding: 3px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.contact-message textarea {
  margin-top: 10px;
  width: 400px;
  height: 300px;
  font-size: 20px;
  padding: 3px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.contact-button .btn-submit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  width: 300px;
  color: #ffffff;
  background-color: #49afcd;
  border: none;
  border-radius: 5px;
}

.contact-button .btn-cancle {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  width: 100px;
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

/* product page */


/* Mycart page */
#mycart {
  display: flex;
  text-align: center;
  margin: 20px;
  background-color: #ffffff;

}

#mycart table {
  display: flex;
  margin: 10px 10px 10px 35px;
  width: 90%;
  font-size: 1.5rem;
}

#mycart table th,
td {
  padding: 10px;
  border-bottom: 1px solid lightblue;
}

#mycart table img {
  height: 55px;
  width: 80px;
}

.totalAmount {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  margin: 10px;
}

.totalAmount h3 {
  text-align: left;
  font-size: 25px;
  width: 500px;
}

.totalAmount button {
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  background-color: #da4f49;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.purchase {
  margin: 20px;
  text-align: end;
  padding-right: 50px;
}

.purchase button,
.purchase a {
  background-color: #282c3f;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.purchase a {
  text-decoration: none;
}


/* Responsive styles */
@media screen and (max-width: 1000px) {
  .nav_bar {
    display: none;
  }

  .search_bar {
    width: 90%;
  }

  .nav_bar a {
    border-bottom: 5px solid #ffffff;
  }

  .menu_icon {
    display: block;
    margin-bottom: 10px;

  }

  .menu_icon i {
    cursor: pointer;
  }

  .nav_bar.open {
    display: flex;
    /* Displayed when nav_bar is open */
    flex-direction: column;
  }

  .nav_bar.open a {
    margin: 5px;
    /* Adjust margin for better spacing */
  }


  @media screen and (max-width: 500px) {
    header {
      display: block;
      height: fit-content;
      margin: 20px;
      padding-left: 15px;
      text-align: left;
    }

    .nav_bar {
      display: none;
    }

    .nav_bar a {
      display: block;
      justify-content: left;
    }

    .action_bar {
      display: flex;
      justify-content: space-evenly;
      margin: 10px;

    }



  }
}