* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

/* -----------Heading-------------- */
header {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}

.shoe_logo {
  height: 55px;
}

.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}

.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}


.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  border-radius: 4px 0 0 4px;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_bar a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------Main section--------- */
.main .show {
  display: none;
}

.main .show:target {
  display: block;
}


.banner_container {
  margin: 30px 0;
  width: 100%;
  height: 400px;
  text-align: center;

}

.banner_container img {

  width: 80%;
  height: 100%;

}

/* -----------Products Feature--------- */
.main h1 {
  text-align: center;
}

.items-container {
  width: 80%;
  margin: 40px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}



.item-container {
  margin-top: 5px;
  width: 250px;
  margin: 10px;
  border: 1px solid lightgray;

}

.item-image {
  width: 100%;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  display: block;
}

.price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}


.btn-add-cart {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}




/* ----------Footer-------------- */
.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: center;
  padding: 15px;

}


/* ----------Contact Us ---------- */
#contact {
  margin: 20px;
  text-align: center;

}


.contact-banner {
  margin: 30px 0;
  width: 100%;
  height: 300px;
  text-align: center;

}

.contact-banner img {
  width: 90%;
  height: 100%;

}

.contact-email,
.contact-message {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.contact-email input {
  margin-top: 10px;
  line-height: 20px;
  width: 400px;
  font-size: 20px;
  padding: 3px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.contact-message textarea {
  margin-top: 10px;
  width: 400px;
  height: 300px;
  font-size: 20px;
  padding: 3px 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.contact-button .btn-submit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  width: 300px;
  color: #ffffff;
  background-color: #49afcd;
  border: none;
  border-radius: 5px;
}

.contact-button .btn-cancle {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  width: 100px;
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

/* product page */